.products-section {
  width: 100%;
  min-height: 100vh;
  /* background-color: rgba(0, 255, 255, 0.642); */
  padding: 7rem 15rem;
  padding-top: 0;
}

.popular-hightlight {
  color: var(--home-color);
}

.products-title > h1 {
  font-size: 50px;
}

.products-title > p {
  font-size: var(--paragram-font-size);
  max-width: 420px;
  color: black;
}

.shoes-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  flex-wrap: wrap;
  width: 100%;
  background-color: red;
  margin: 0 auto;
}

.shoes-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 230px;
  padding: 10px;
  gap: 8px;
  background-color: aqua;
}
