.products-section {
  width: 100%;
  min-height: 60vh;
  /* background-color: rgba(0, 255, 255, 0.642); */
  padding: 7rem 15rem;
  padding-top: 0;
}

.popular-hightlight {
  color: var(--home-color);
}

.products-title > h1 {
  font-size: 50px;
}

.products-title > p {
  font-size: var(--paragram-font-size);
  max-width: 420px;
  color: rgba(0, 0, 0, 0.846);
}

.shoes-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 20px; */
  flex-wrap: wrap;
  width: 74%;
  gap: 128px;
}

.shoes-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  padding: 5px;
}
.shoes-item p {
  margin: 0;
  padding: 0;
  line-height: 2.1;
  font-size: var(--paragram-font-size);
  font-weight: bold;
}
.hight-light-shoes {
  color: var(--home-color);
  font-weight: bold;
}

.shoes-item span {
  font-size: 20px;
}
