.reviews-container {
  text-align: center;
  width: 100%;
  min-height: 70vh;
  background-color: #f3f3f73c;
}

.reviews-container h1 {
  font-size: 55px;
  margin-bottom: -5px;
}

.highlight-customer {
  color: var(--home-color);
}

.inner-review-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.paragram-review {
  max-width: 550px;
  font-size: 22px;
}

.first-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.first-container img {
  width: 110px;
  border-radius: 100%;
}
.Morich-Brown {
  font-size: 25px;
  max-width: 300px;
}
.Lota-Mongeskar {
  font-size: 25px;
  max-width: 300px;
}
.first-container h2 {
  font-size: 24px;
}
