body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d6d4f2;
  /* background-color: white; */
}

:root {
  --navbar-font-size: 1.2rem;
  --navbar-font-family: "Roboto", sans-serif;
  --home-color: #ff6a3d;
  --paragram-font-size: 1.4rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
