.shipping {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  min-height: 20vh;
  padding: 6rem;
}

.shipping-tems {
  max-width: 200px;
  width: auto;
  min-height: 100px;
  flex: 1;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 60px;
}

.shipping span {
  font-size: 35px;
}

.shipping-tems h3 {
  font-size: var(--paragram-font-size);
}
.shipping-tems p {
  font-size: var(--paragram-font-size);
}
