.shipping {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  min-height: 20vh;
  padding: 6rem;
}

.shipping-tems {
  max-width: 400px;
  width: auto;
  flex: 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 60px;
}

.shipping-tems span {
  font-size: 35px;
}
.shipping-tems h3 {
  font-size: 35px;
}
