.offers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.413);
  min-height: 50vh;
}
.special-offer-container {
  max-width: 450px;
}
