.offers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  gap: 180px;
}
.special-offer-container {
  max-width: 500px;
  line-height: 30px;
  background-color: red;
}

.special-offer-container p {
  font-family: var(--paragram-font-size);
  font-size: 25px;
}

h2 {
  font-size: 45px;
}

.hight-light {
  color: var(--home-color);
  padding: 4px;
  font-size: 45px;
}

.btn-secondary {
  color: white;
  background-color: var(--home-color);
}
